/* General Page Styling */
.container {
  font-family: Arial, sans-serif;
  padding: 20px;
  text-align: center;
  max-width: 800px;
  margin: auto;
}

.header {
  margin-bottom: 20px;
}

.header h1 {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #333;
}

button {
  font-size: 1rem;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #ff006f;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Heatmap Styling */
main h2 {
  font-size: 1.5rem;
  margin: 20px 0;
}

.heatmap {
  margin-top: 20px;
}

.year-section {
  margin-bottom: 40px;
}

.year-section h3 {
  font-size: 1.2rem;
  color: #555;
  text-align: left;
  margin-bottom: 10px;
}

.month-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 10px;
  color: purple;
}

.month-cell {
  position: relative;
  padding: 10px;
  border-radius: 4px;
  color: white;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 50px;
  text-align: center;
  background-color: #ebedf0; /* Default color */
}

.color-scale-1 {
  background-color: #da33e0;
}

.color-scale-2 {
  background-color: #1b00e9;
}

.color-scale-3 {
  background-color: #8d0794;
}

.month-cell span {
  font-weight: bold;
  font-size: 0.8rem;
}
